$phone: 750px;
$tablet: 800px;
$break-large: 1100px;
$green:#009341;
$yellow:#ffd250;

$primary-blue:  #2CCCD3;
$primary-pink:  #DF1995;

@import "header";
 @import "whyUs";
@import "header";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');



html, body {
    // overflow-x: hidden;
    // background-color: aqua;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif !important;
  }
  h1, h2, h3, h4, h5, p, button, input, optgroup, select, textarea{
    font-family: 'Open Sans', sans-serif !important;
  }
*{
	box-sizing: border-box;
	;
}

.row{
    display: flex;
    flex-direction: row;
}


.pageWrapper {
  position: relative;
}


.legalInfo-div{
  width: 60%;
  margin: 0 auto;
  padding: 5% 0;
  min-height: 700px;
  @media screen and (max-width: 700px) {
    width: 80%;
  }
  
}

