.WhyUsContainer {

  
  .slick-slider {
   
    // next button
    .slick-next {
     display: none !important;
    }
    .slick-prev {
     display: none !important;
    }

   
    .slick-dots{
     bottom: 0;
     display: flex;
     justify-content: center;
     ul{
     display: flex !important;
   //  align-items: center;
    // justify-content: center;

     }
    }

    .slick-dots li button:before{
      //position: relative;
      font-size: 60px;
      //line-height: initial;
      content: '-';
      font-weight: lighter;
      top: -7px;
      font-family: 'Open Sans', sans-serif !important;

    }

    .slick-dots li.slick-active button::before {
      opacity: 0.75;
      color: #D61F26;
  }
  }
}

.bgContainer {
  background-position:  left top !important;
 //background-size: 100% !important;
}

