.WhyUsContainer {

  
  .slick-slider {
   
    // next button
    .slick-next {
     display: none !important;
    }
    .slick-prev {
     display: none !important;
    }

   
    .slick-dots{
     bottom: 0;
     display: flex;
     justify-content: center;
     ul{
     display: flex;

     }
    }

    .slick-dots li button:before{
      font-size: 50px;
      line-height: 0;
      content: '-';
      font-weight: lighter;
    }

    .slick-dots li.slick-active button::before {
      opacity: 0.75;
      color: #D61F26;
  }
  }
}

.bgContainer {
  background-position:  left top !important;
 //background-size: 100% !important;
}

@keyframes MoveUp {
   0% {
    transform: translateY(+100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadein {
  0% {
   opacity:  0;
 }
 100% {
  opacity:  1;
 }
}